html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "PokemonHollow";
  src: url('../fonts/PokemonHollow.ttf');
}
@font-face {
  font-family: "PokemonSolid";
  src: url('../fonts/PokemonSolid.ttf');
}