.typeSection {
    background-color: rgb(255, 255, 255);
    min-height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.typeBox{
    margin-top: 2rem;
    border-radius: 2rem;

    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
